{% extends 'base.html' %}


{% block title %}
    Thesus™ Collaboration Hub
{% endblock title %}
    

{% block style %}
    .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

{% endblock style %}


{% block body %}
<div class="container-fluid p-0">
    <img src="/static/f8.png" height="600vh" style="width: -webkit-fill-available;">
</div>

<div class="container-fluid " style=" margin: 12vh 0 12vh 0; color: rgb(18, 48, 38); padding-left: 5vw;">
    <h1 class="mx-auto" style="font-size: 50px; font-weight: 700; ">The Weekend Boot™ Impact</h1>
    <h4 class="my-3" style="font-weight: 700; width: 60vw;">
        We have removed 25,000 lbs of plastic from our oceans and landfill, kept tens of of thousands of trees firmly planted in the ground, minimized our dependence on the leather and fossil fuel industry, supported family-run producer partners in lieu of exploiting cheap labour and disposable lives in the Global South, walked a collective 3.2 million miles, and help to inspire hundreds of thousands of people to Be Outside; connecting to themselves, the community and the Planet.
    </h4>
    <button style="height: 50px; width: 230px; background-color: rgb(18, 48, 38); color: white; border: none; border-radius: 50px;" href="/allweather">Read Our Open Letter</button>
</div>

<div class="container-fluid row my-4 " style="height: fit-content; padding: 0 5vw;">
    <a class="col mx-1"><img src="/static/hub/a1.png" height="480vh" ></a>
    <a class="mx-1 col"><img src="/static/hub/a2.png" height="480vh" ></a>
    <a class="mx-1 col"><img src="/static/hub/a3.png" height="480vh" ></a>
</div>
    
<div class="container-fluid " style=" margin: 12vh 0 12vh 0; color: rgb(18, 48, 38); padding-left: 5vw;">
    <h1 style="font-size: 50px; font-weight: 700; ">Our Thesus™ Design Process</h1>
    <h4 class="my-3" style="font-weight: 700; width: 60vw;">
        Our mission of connecting to ourselves, the community and the Planet is deeply tied to our design process, where each pair of footwear is made with a view to Planetary Boundaries and Doughnut Economics.    
    </h4>
    <button style="height: 50px; width: 180px; background-color: rgb(18, 48, 38); color: white; border: none; border-radius: 50px;" href="#">Download Now</button>
</div>

<div class="container-fluid" style=" margin: 12vh 0 12vh 0; color: white; background-image: linear-gradient(180deg, rgba(127, 72, 176, 1) 50%, rgba(48, 145, 211, 1) 100%);; padding: 5vw;">
    <h1 class="mx-auto" style="font-size: 50px; font-weight: 700; ">The Thesus Ecosystem™</h1>
    <h4 class="my-3" style="font-weight: 700; width: 60vw;">
        The Thesus Ecosystem™ is a model for systems thinking, and a first step toward understanding the regional, labour and materials footprint of each pair of shoes.
    </h4>
    <button style="height: 50px; width: 180px; background-color: white;  border: none; border-radius: 50px;" href="#">Learn More</button>
</div>
    
<div class="container-fluid " style=" margin: 12vh 0 12vh 0; color: rgb(18, 48, 38); padding-left: 5vw;">
    <h1 style="font-size: 50px; font-weight: 700; ">Our Factory and Agents</h1>
    <h4 class="my-3" style="font-weight: 700; width: 60vw;">
        For a listing of our partner producers and agents please follow the link below.
    </h4>
    <button style="height: 50px; width: 180px; background-color: rgb(18, 48, 38); color: white; border: none; border-radius: 50px;" href="#">Learn More</button>
</div>

<div class="container-fluid" style=" margin: 12vh 0 12vh 0; color: white; background-image: linear-gradient(180deg, rgba(127, 72, 176, 1) 50%, rgba(48, 145, 211, 1) 100%);; padding: 5vw;">
    <h1 class="mx-auto" style="font-size: 50px; font-weight: 700; ">Our Tech Pack and Materials Index</h1>
    <h4 class="my-3" style="font-weight: 700; width: 60vw;">
        Please download our Tech Pack here. In it you will find the producers of all our materials along with impact metrics for each material used.
    </h4>
    <button style="height: 50px; width: 180px; background-color: white;  border: none; border-radius: 50px;" href="#">Learn More</button>
</div>

<div class="container-fluid " style=" margin: 12vh 0 12vh 0; color: rgb(18, 48, 38); padding-left: 5vw;">
    <h1 style="font-size: 50px; font-weight: 700; ">Our Community</h1>
    <h4 class="my-3" style="font-weight: 700; width: 60vw;">
        40,000 + strong, mostly women with a vision, passion and commitment to voting with your dollars and amplifying our collective voice. Each and every very time we connected, we have been filled with energy and joy. You have propelled us forward each and every day. This Thesus™ is yours.
    </h4>
    <div class="container m-0" style="padding-top: 5vh; ">
        <img src="/static/hub/h1.png" width="100%">
        <img src="/static/hub/h2.png" width="100%">
        <img src="/static/hub/h3.png" width="100%">
        <img src="/static/hub/h4.png" width="100%">
        <img src="/static/hub/h5.png" width="100%">
        <img src="/static/hub/h6.png" width="100%">
    </div>
</div>

<div class="container-fluid " style=" margin: 12vh 0 12vh 0; color: rgb(18, 48, 38); padding-left: 5vw;">
    <h1 style="font-size: 50px; font-weight: 700; ">Our Trademarks</h1>
    <h4 class="my-3" style="font-weight: 700; width: 60vw;">
        The unauthorized use of the Thesus™ or The Weekend Boot™ is strictly prohibited. Please feel free to contact our team at support@thesusoutdoors.com should you want to use either of such trademarks for your activities.
    </h4>
</div>

{% endblock body %}